= link_to "Sign Out", destroy_user_session_path, method: :delete
%p
- @courts.each do |court|
  %tr
    %td= court.name
    %td= court.address
    %td
      = link_to "View", court_path(court)
    %p
